In [2]:
import pandas as pd

**Creating a DataFrame**

In [3]:
data = {'ProductName':['Product A','Product B','Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

'ProductName' and 'ProductPrice' are set as the column names outside of curly brackets, contents of the columns are inside the square brackets

**DataFrame from a dictionary of lists with a specific index**

In [4]:
data = {'ProductName':['Product A','Product B','Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A','B','C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [5]:
data = {'ProductName':['Product A','Product B','Product C'], 'ProductPrice':[22250, 16600, 12500]}
productID=['A','B','C']
df = pd.DataFrame(data,index = productID)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

**Dataframe from a list of dictionaries**

In [6]:
data = [{'ProductName': 'Product A', 'Product Price':12500},
        {'ProductName': 'Product B', 'Product Price':25600},
        {'ProductName': 'Product C', 'Product Price':47500}]
df =  pd.DataFrame(data)
df

  ProductName  Product Price
0   Product A          12500
1   Product B          25600
2   Product C          47500

In [8]:
data = [{'ProductName': 'Product A', 'Product Price':12500},
        {'ProductName': 'Product B', 'Product Price':25600},
        {'ProductName': 'Product C', 'Product Price':[47500,75500]}]
df = pd.DataFrame(data)
df

  ProductName   Product Price
0   Product A           12500
1   Product B           25600
2   Product C  [47500, 75500]

**Dataframe from a Dictionary of pandas Series**

In [9]:
ser_products = pd.Series(['Product A','Product B','Product C'])
ser_prices = pd.Series ([22500, 16600, 12500])

In [10]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22500
1   Product B         16600
2   Product C         12500